@charset "UTF-8";
/* CSS Document */
h1 {
	font-size: 3em;
	line-height: 1.3em;
	padding-left: .2em;
	text-align: center;
}
h2 {
	font-family: "adelle";
	font-size: 20em;
	font-weight: 100;
	padding-left: 0px;
	text-align: center;
}
h3 {
	font-size: 1em;
	font-weight: 100;
	line-height: 1.7em;
	padding-left: 10%;
	padding-right: 1%;
	min-width: 24em;
	max-width: 28em;
	text-align: left;
}
.parallax { 
	margin: 0;
	padding: 0;    
	background-image: url("books.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}