@charset "UTF-8";
/* CSS Document */

body {
	font-family: "adelle";
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	line-height: 1.3em;
	padding-left: .2em;
	text-align: center;
}
h2 {
	font-size: 40px;
	font-weight: 400;
	line-height: 1.2em;
	text-align: center;
}
h3 {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8em;
	text-align: left;
	max-width: 700px;
	margin-left: auto;
    margin-right: auto;
}
p {
	font-size: 1em;
	font-weight: 100;
	line-height: 1.6em;
	padding-left: 15%;
	text-align: left;
	max-width: 50%;
}
.parallax { 
	margin: 0;
	padding: 0;    
	background-image: url("books.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
h3 {
	font-size: 50px;
	line-height: 1.8em;
	max-width: 95%;
	}
}
