@charset "UTF-8";
h1 {
  font-size: 10vw;
  line-height: 1.2em;
}
p {
  font-size: 1.8em;
  line-height: 1.5em;
  max-width: 27em; 
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 80%;
	}
	p {
		font-size: 150%;
	}
}
